:root {
  --hours-height: 25%;
  --minutes-height: 35%;
  --seconds-height: 45%;

  --hours-width: 2%;
  --minutes-width: 1.5%;
  --seconds-width: 1%;

  --clock-size: 300px;
  --main-color: aqua;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(0, 0, 0);
  font-family: 'Helvetica', sans-serif;
  margin: 0;
}

.container {
  text-align: center;
}

#digitalClock {
  color: var(--main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 48px;
  margin-bottom: 20px;
}

#date {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
}

#analogicalClock {
  background-color: #000000;
  width: var(--clock-size);
  height: var(--clock-size);
  border-radius: 50%;
  position: relative;
  border: 3px solid var(--main-color);
  box-shadow: inset 1px 1px 5px var(--main-color);
}

#dot {
  background-color: #000000;
  width: calc(var(--clock-size) / 30);
  height: calc(var(--clock-size) / 30);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#hours {
  background-color: red;
  border-top: 1px solid #000000;
  position: absolute;
  height: var(--hours-height);
  top: calc(50% - var(--hours-height));
  left: 50%;
  transform: translateX(-50%);
  width: var(--hours-width);
  transform-origin: bottom;
}

#minutes {
  background-color: red;
  border-top: 1px solid #000000;
  position: absolute;
  height: var(--minutes-height);
  top: calc(50% - var(--minutes-height));
  left: 50%;
  transform: translateX(-50%);
  width: var(--minutes-width);
  transform-origin: bottom;
}

#seconds {
  background-color: white;
  border-top: 1px solid #000000;
  position: absolute;
  height: var(--seconds-height);
  top: calc(50% - var(--seconds-height));
  left: 50%;
  transform: translateX(-50%);
  width: var(--seconds-width);
  transform-origin: bottom;
}