body {
  margin: 0px;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
}

#game {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Example with 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Example with 3 columns */
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: black;
  gap: 3px;
  margin: 0px;
  padding: 0px;
  border-radius: 10%;
}

.box {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.box:hover {
  cursor: not-allowed;
}

.top.left {
  border-radius: 10% 0 0 0;
}

.top.right {
  border-radius: 0 10% 0 0;
}

.down.left {
  border-radius: 0 0 0 10%;
}

.down.right {
  border-radius: 0 0 10% 0;
}

.clear:hover {
  background-color: #ddd;
  cursor: pointer;
}

.X {
  color: blue;
}

.O {
  color: red;
}

.hidden {
  display: none;
}
