/* section.css */
.section {
  margin-left: 50px;
}

.section-title {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title.with-toggle:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.section-subtitle {
  margin-top: 0;
}
